*{
    padding: 0;
    margin: 0;
}

h1{
    background-color:#b29f9f;
    text-align: center;
    
}
button{
    border-radius: 25px;
    background-color: red;
    color: white;
    height: 30px;
    padding-left: 30px;
    width: 100px;
} 
#hello {
    height: 400px;
    font-weight: 30px;
    background-color: #b29f9f;
    width: 100px;
    display: flex;
    

}


    

    
